# Version control
.git
.github
.gitignore

# Node.js dependencies and build artifacts
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.next/cache

# Environment variables
.env*
!.env.example

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Docker related
Dockerfile
docker-compose.yml
.dockerignore

# Development data
*.log 